.container {
    padding: clamp(22px, 2vw, 50px) clamp(10px, 2vw, 50px);
    max-width: 100vw;
    .title {
        font-size: clamp(22px, 1.82vw, 35px);
        padding-top: 25px;
        padding-bottom: 50px;
        animation-timing-function: ease;
    }
}
