nav {
    width: 100vw;
    background: #1a1a1a;
    background: rgb(184, 184, 219);
    height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: inset 4px #1a1a1a;
    img {
        width: 60px;
        margin:0 50px ;

    }
    ul {
        padding: 50px;
        list-style: none;
        display: flex;
        gap: 50px;
        li {
            height: 100%;
            a {
                text-decoration: none;
                color: #f1f1f1;
                color: #1a1a1a;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 2px;
                &.selected {
                    border-bottom: 2px dashed #1a1a1a;
                }
            }
        }
    }
}
